name: lint

permissions: 
  contents: read

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - 'docs/**'
  workflow_call:

jobs:
  run:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          check-latest: true

      - name: Lint
        uses: golangci/golangci-lint-action@v7.0.0
        with:
          version: latest
          args: --timeout 5m
